<body>
  <div class="row col-8">
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
</body>
