<body>
    <div class="row col-3 mx-auto">
      <section class="mt-5 mb-5">
        <form  [formGroup]="formulario" (ngSubmit)="onSubmit()">

          <div class="mt-3">
            <h1><strong>Cadastre-se</strong></h1>
            <mat-divider></mat-divider>
          </div>

          <div class="row col-12 mx-auto">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome">
            </mat-form-field>
          </div>

          <div class="row col-12 mx-auto">
            <mat-form-field appearance="outline">
              <mat-label>Sobrenome</mat-label>
              <input matInput formControlName="sobrenome">
            </mat-form-field>
          </div>

          <div class="row col-12 mx-auto">
            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cpf">
            </mat-form-field>
          </div>

          <div class="row col-12 mx-auto">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
          </div>

          <div class="row col-12 mx-auto">
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="telefone">
            </mat-form-field>
          </div>

          <mat-divider></mat-divider>

          <div class="row col-11 m-2">
            <button mat-raised-button color="primary">Cadastrar</button>
          </div>
        </form>
      </section>

      <div class="mb-5">
        <button mat-flat-button color="primary">
          <a routerLink="/lista">Lista de cadastro</a>
        </button>
      </div>
    </div>
</body>
