body{
  background-color: darkgray;
}

section{
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.279);
  font-size: 15px;
}
.mat-raised-button{
  font-size: 17px;
}
.mat-flat-button{
  background-color: green;
  font-size: 17px;
}
